

$color-primary: #FF9400;
$color-secondary: #530882;
$color-secondary-20: rgba($color: $color-secondary, $alpha: 0.2);
$color-background: #F5F4EF;
$color-foreground: #FAF7E8;

$color-text: #2E2E2E;
$color-text-75: rgba($color: $color-text, $alpha: 0.75);
$color-text-15: rgba($color: $color-text, $alpha: 0.15);

$shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.07);

$font: 'Poppins', sans-serif;


$category-size-large: 12.5rem;
$category-size-small: 6.2rem;